.navbar-brand{
  font-size: 40%;
  color: #0000ff;
  font-family: serif;
}

.listitem{
  display: block;
  padding: 4px;
  margin-bottom: 25px;  
  background-color: #d3d3d3;
  border: 1px solid #000000;
  border-radius: 4px;
  min-height: 300px;
}

#container{
  padding: 4px;
  background-color: #d3d3d3;
  border: 1px solid #000000;
  border-radius: 4px;
}

